.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical centering */
    padding: 10px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-left: none;
    display: flex; /* Ensures proper alignment */
    align-items: center;
}

.navbar-search {
    display: flex;
    align-items: center; /* Ensures vertical centering */
    border-right: none;
}

.navbar-search input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar-search button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.navbar-logo a {
    text-decoration: none;
    color: #007bff;
    display: flex; /* Ensures proper alignment */
    align-items: center;
}

.navbar-links {
    display: flex; /* Ensures proper alignment */
    align-items: center;
}

.navbar-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}